* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #000;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.btn {
  padding: 10px 26px;
  text-align: center;
  background: transparent;
  color: #722ed1;
  border: 1px solid #722ed1;
  border-radius: 23px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn:hover {
  background-color: #722ed1;
  color: #fff;
}
.btn--purple {
  background-color: #722ed1;
  color: #fff;
}
.btn--white {
  color: #722ed1;
  background-color: #fff;
  border: none;
}

.info {
  background-color: #f9f0ff;
  text-align: center;
  color: #722ed1;
  font-weight: 600;
  border-radius: 20px;
  display: inline-block;
  padding: 8px 16px 8px 44px;
  position: relative;
}
.info::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #160637;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.5;
}

.header {
  padding-top: 19px;
  font-size: 16px;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.header__menu-item {
  margin: 0 20px;
  position: relative;
}
.header__menu-item::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #722ed1;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__menu-item a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__menu-item:hover a {
  color: #722ed1;
}
.header__menu-item:hover::before {
  left: -7px;
  width: calc(100% + 14px);
}
.header__btn {
  margin-left: 20px;
}

.main {
  padding-top: 12%;
  height: 100vh;
  background: url("../images/main-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__text {
  max-width: 530px;
}
.main__title {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.main__subtitle {
  margin-bottom: 30px;
}
.main__image {
  max-width: 472px;
}
.main__buttons {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__info {
  margin-bottom: 30px;
}
.main__info::before {
  background-image: url(../images/icons/stars.svg);
}
.main__info a {
  color: #722ed1;
  text-decoration: underline;
}

.benefits {
  padding-top: 112px;
}
.benefits__info {
  padding-left: 55px;
  display: block;
  width: 158px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.benefits__info::before {
  width: 27px;
  height: 18px;
  background-image: url(../images/icons/eye.svg);
  background-repeat: no-repeat;
}
.benefits__title {
  text-align: center;
  margin-bottom: 30px;
}
.benefits__subtitle {
  max-width: 672px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__item-icon {
  margin-bottom: 20px;
}
.benefits__item-title {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.benefits__item-subtitle {
  max-width: 305px;
  text-align: center;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/**/
/* Medium Devices, Desktops */
/**/
/* Small Devices, Tablets */
/**/
/* Extra Small Devices, Phones */
/**/
/* Custom, iPhone Retina */
/**/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**//*# sourceMappingURL=style.css.map */