* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #000;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.btn {
  padding: 4px 24px;
  text-align: center;
  background: transparent;
  color: #722ed1;
  border: 1px solid #722ed1;
  border-radius: 23px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn:hover {
  background-color: #722ed1;
  color: #fff;
}

.header {
  padding-top: 19px;
  font-size: 16px;
  color: #000;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.header__menu-item {
  margin: 0 20px;
  position: relative;
}
.header__menu-item::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #722ed1;
  position: absolute;
  bottom: -5px;
  left: -7px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__menu-item a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__menu-item:hover a {
  color: #722ed1;
}
.header__menu-item:hover::before {
  width: calc(100% + 14px);
}
.header__btn {
  margin-left: 20px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/**/
/* Medium Devices, Desktops */
/**/
/* Small Devices, Tablets */
/**/
/* Extra Small Devices, Phones */
/**/
/* Custom, iPhone Retina */
/**/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**//*# sourceMappingURL=style.css.map */