* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #000;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.btn {
  cursor: pointer;
  padding: 10px 26px;
  text-align: center;
  background: transparent;
  color: #722ed1;
  border: 1px solid #722ed1;
  border-radius: 23px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn:hover {
  background-color: #722ed1;
  color: #fff;
}
.btn--purple {
  background-color: #722ed1;
  color: #fff;
}
.btn--purple:hover {
  background-color: #571ca8;
}
.btn--white {
  color: #722ed1;
  background-color: #fff;
  border: none;
}

.info {
  background-color: #f9f0ff;
  text-align: center;
  color: #722ed1;
  font-weight: 600;
  border-radius: 20px;
  display: inline-block;
  padding: 8px 16px 8px 44px;
  position: relative;
}
.info::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #160637;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.5;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.header {
  padding-top: 19px;
  font-size: 16px;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.header__menu-item {
  margin: 0 20px;
  position: relative;
}
.header__menu-item-link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__menu-item-link:hover {
  color: #722ed1;
}
.header__menu-item::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #722ed1;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__menu-item:not(.header__menu-item--select):hover::before {
  left: -7px;
  width: calc(100% + 14px);
}
.header__menu-item--select .header__menu-item-link {
  padding-right: 15px;
  padding-bottom: 5px;
}
.header__menu-item--select:hover .header__submenu {
  display: block;
}
.header__menu-item--select:hover::after {
  top: 40%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header__menu-item--select::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 6px;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
}
.header__btn {
  margin-left: 20px;
}
.header__submenu {
  display: none;
  position: absolute;
  top: 28px;
  right: -20px;
  list-style: none;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
  border-radius: 5px;
  -webkit-animation: 0.6s opacitySelect;
          animation: 0.6s opacitySelect;
}
.header__submenu-item {
  display: block;
  padding: 5px 10px;
}
.header__submenu-item-link {
  display: block;
}
.header__submenu-item:hover .header__submenu-item-link {
  color: #722ed1;
}

@-webkit-keyframes opacitySelect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacitySelect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacityUnselect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes opacityUnselect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main {
  padding-top: 12%;
  height: 100vh;
  background: url("../images/main-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__text {
  max-width: 530px;
}
.main__title {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.main__subtitle {
  margin-bottom: 30px;
}
.main__image {
  max-width: 472px;
}
.main__buttons {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__info {
  margin-bottom: 30px;
}
.main__info::before {
  background-image: url(../images/icons/stars.svg);
}
.main__info a {
  color: #722ed1;
  text-decoration: underline;
}

.benefits {
  padding-top: 112px;
}
.benefits__info {
  padding-left: 55px;
  display: block;
  width: 158px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.benefits__info::before {
  width: 27px;
  height: 18px;
  background-image: url(../images/icons/eye.svg);
  background-repeat: no-repeat;
}
.benefits__title {
  text-align: center;
  margin-bottom: 30px;
}
.benefits__subtitle {
  max-width: 672px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__item-icon {
  margin-bottom: 20px;
}
.benefits__item-title {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.benefits__item-subtitle {
  max-width: 305px;
  text-align: center;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__block {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__textbox {
  max-width: 474px;
  margin-bottom: 30px;
}
.about__textbox-info {
  margin-bottom: 30px;
}
.about__textbox-info--product {
  padding-left: 54px;
}
.about__textbox-info--product::before {
  width: 25px;
  height: 25px;
  background-image: url(../images/icons/product.svg);
}
.about__textbox-info--engineering {
  padding-left: 54px;
}
.about__textbox-info--engineering::before {
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/team.svg);
}
.about__textbox-title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
}

.reviews {
  background-image: url(../images/reviews-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews__wrapper {
  padding-top: 250px;
  padding-bottom: 170px;
  text-align: center;
}
.reviews__quotes-item-quote {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}
.reviews__quotes-item-image {
  border-radius: 50%;
  margin-bottom: 32px;
}
.reviews__quotes-item-info {
  margin-bottom: 64px;
}
.reviews__quotes-item-name, .reviews__quotes-item-position {
  font-size: 16px;
  line-height: 24px;
}
.reviews__companies {
  padding-top: 32px;
  border-top: 1px solid #dec9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__companies-item {
  cursor: pointer;
}
.reviews__companies-item path {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.reviews__companies-item:hover path {
  fill: #160637;
}
.reviews__companies-item--active path {
  fill: #160637;
}

.contact {
  padding-top: 120px;
}
.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__text {
  max-width: 431px;
}
.contact__title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 35px;
}
.contact__divider {
  margin-bottom: 35px;
  color: #8989a2;
  text-align: center;
  position: relative;
}
.contact__divider::before, .contact__divider::after {
  z-index: -1;
  content: "";
  position: absolute;
  height: 1px;
  top: 50%;
  background-color: #8989a2;
}
.contact__divider::before {
  left: 0;
  right: 63%;
}
.contact__divider::after {
  left: 63%;
  right: 0;
}
.contact__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__partner {
  width: 150px;
  margin-bottom: 75px;
}
.contact__form-wrapper {
  border-radius: 4px;
  width: 480px;
  background-color: #f9f0ff;
}
.contact__form {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.form {
  padding: 32px 40px;
  max-width: 428px;
  border-radius: 4px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
          box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
  text-align: center;
  position: relative;
  z-index: 5;
}
.form__input {
  width: 100%;
  padding: 16px;
  color: #160637;
  margin-bottom: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.form__input::-webkit-input-placeholder {
  color: #8989a2;
}
.form__input::-moz-placeholder {
  color: #8989a2;
}
.form__input:-ms-input-placeholder {
  color: #8989a2;
}
.form__input::-ms-input-placeholder {
  color: #8989a2;
}
.form__input::placeholder {
  color: #8989a2;
}
.form__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
.form__btn {
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 5px;
}
.form__google-img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 16px;
}
.form__google-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.form__login {
  color: #8989a2;
  border-top: 1px solid #8989a2;
  padding-top: 16px;
}
.form__login-link {
  color: #722ed1;
}
.form__login-link:hover {
  text-decoration: underline;
}
.form span {
  display: block;
  margin-bottom: 16px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/**/
/* Medium Devices, Desktops */
/**/
/* Small Devices, Tablets */
/**/
/* Extra Small Devices, Phones */
/**/
/* Custom, iPhone Retina */
/**/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**//*# sourceMappingURL=style.css.map */